.color-second {
  background-color: #380c2a;
}

.color-third {
  color: #ffffff;
}

.color-fourth {
  color: #4263eb;
}

.color-success {
  color: #4e9a06;
}

.cabecalho {
  border-radius: 15px;
  border: black 1px solid;
  padding: 10px;
  font-size: x-large;
}

.text-shadow {
  text-shadow: 2px 0px 2px #000000;
}

.main {
  border-radius: 15px;
  border: black 1px solid;
  margin-top: 30px;
  margin-bottom: 30px;
}

.foto {
  border-radius: 15px;
}

.ml {
  margin-left: 5px;
}

.mr {
  margin-right: 5px;
}

.mb{
    margin-bottom: 5px;
}

.rodape {
  border: black 1px solid;
  padding: 10px;
  border-radius: 15px;
}

.logo {
  padding: 5px;
  border: black 1px solid;
  border-radius: 5px;
  width: 45px;
  height: 45px;
}

.icone_cabecalho {
  color: blue;
}

/* SOBREESCRITA STYLE MATERIALIZE */
div.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 95%;
}

body.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}


@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}

/* CARD */
.face {
    position: relative;
  /* width: 600px; */
  /* height: 600px; */
  /* perspective: 700px; */
}

.front,
.back {
  position:absolute;
  width: auto;
  height: auto;
  border-radius: 10px;
  transition: 700ms;
}

.front {
  z-index: 1;
}

.back {
  transform: rotateY(-180deg);
  backface-visibility: hidden;
}

.face:hover .front {
  transform: rotateY(180deg);
  z-index: 0;
}

.face:hover .back {
  transform: rotateY(0);
  z-index: 1;
}
