.color-second {
  background-color: #380c2a;
}

.color-third {
  color: #ffffff;
}

.color-fourth {
  color: #4263eb;
}

.color-success {
  color: #4e9a06;
}

.cabecalho {
  border-radius: 15px;
  border: black 1px solid;
  padding: 10px;
  font-size: x-large;
}

.text-shadow {
  text-shadow: 2px 0px 2px #000000;
}

.main {
  border-radius: 15px;
  border: black 1px solid;
  margin-top: 30px;
  margin-bottom: 30px;
}

.foto {
  border-radius: 15px;
}

.ml {
  margin-left: 5px;
}

.mr {
  margin-right: 5px;
}

.rodape {
  border: black 1px solid;
  padding: 10px;
  border-radius: 15px;
}

.logo {
  padding: 5px;
  border: black 1px solid;
  border-radius: 5px;
  width: 45px;
  height: 45px;
}

.icone_cabecalho {
  color: blue;
}
